.folha{
	-moz-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	-moz-border-radius:15px;
	border-radius:15px;
	-webkit-border-radius:15px;
	
	border: 1px solid #eee;
	padding:30px;
	
	width:900px;
	margin:auto;
	
}


